@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

:root{
    /* you can try diferent color for hue*/
    /* red : 0
    *	 yellow : 60
    *	 green : 120
    *	 azure : 180
    *	 blue : 240
    *	 purple : 280
    */
    --primary-color-hue : 280;
    --primary-color-saturation : 35%;
    --primary-color-lightness : 50%;
    --primary-color : hsl(var(--primary-color-hue), var(--primary-color-saturation), var(--primary-color-lightness));

    --form-border-color: #D1D1D4;
    --form-border-color-hover: hsl(var(--primary-color-hue), var(--primary-color-saturation), 50%);
    --form-icon-color: hsl(var(--primary-color-hue), var(--primary-color-saturation), 50%);


    /* Use image or Linear background */
    --background : linear-gradient(
            90deg,
            hsl(var(--primary-color-hue), var(--primary-color-saturation), 70%),
            hsl(var(--primary-color-hue), var(--primary-color-saturation), 90%)
    );

    /* comment this var to remove image and see adaptative linear background */
    --background : rgba(0,0,0,0.4) url("https://images.unsplash.com/photo-1552526408-fa252623b415?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0MDEyNzJ8MHwxfHNlYXJjaHwxNnx8cHVycGxlJTIwZmxvd2VyfGVufDB8MHx8fDE2ODc5NDY5NjB8MA&ixlib=rb-4.0.3&q=80&w=1080&w=1920");


}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background: var(--background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    background: linear-gradient(
            90deg,
            hsl(var(--primary-color-hue), var(--primary-color-saturation), 80%,0.8),
            hsl(var(--primary-color-hue), var(--primary-color-saturation), 60%,0.5));

    backdrop-filter: blur(10px) ;

    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px hsl(var(--primary-color-hue), var(--primary-color-saturation), 30%,0.4);
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: hsl(var(--primary-color-hue), 31%, 53%);
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(
            270deg,
            hsl(var(--primary-color-hue), var(--primary-color-saturation), 45%),
            hsl(var(--primary-color-hue), var(--primary-color-saturation), 55%)
    );


    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: hsl(var(--primary-color-hue), var(--primary-color-saturation), 55%);
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: var(--form-icon-color);
}

.login__input {
    border: none;
    border-bottom: 2px solid var(--form-border-color);
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: var(--form-border-color-hover);
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid hsl(var(--primary-color-hue), 10%,80%);
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--primary-color);
    box-shadow: 0px 2px 2px hsl(var(--primary-color-hue), var(--primary-color-saturation),30%, 0.2);
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: var(--primary-color);
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: var(--primary-color);
}

.social-login {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px var(--primary-color);
}

.social-login__icon:hover {
    transform: scale(1.5);
}